<html>
<head>
	<style type="text/css">

	</style>
</head>
<!-- <meta HTTP-EQUIV="Refresh" Content="1; URL=http://localhost:8000/"> -->
<body>
	<h6 align="right">Сейчас{{ current_date }}.</h6>
	{% if form.errors %}
		<p style="color: red;">
			Исправте следующие ошибки{{ form.errors|pluralize }}
		</p>	
	{% endif %}
	<form action="" method="get">

		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="0тправить">

	</form>
	
<!-- 	<form>
	{{ param.description }}: <input type="text" name="setpoint" value="{{ param.value }}"> 
	<button type="submite">Сохранить изменения</button>
	</form> -->
	<button onclick="return location.href = '/'">Главный экран</button>
</body></html>