{#templates/celse/ctrl_details.html#}
{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load i18n %}
{% load staticfiles %}
<html lang="{{ LANGUAGE_CODE }}">
<!-- <meta HTTP-EQUIV="Refresh" Content="1; URL=http://localhost:8000/"> -->
<head>
	<title>Подробная информация о контроллере</title>
<!-- <script src="jquery-1.12.1.min.js"></script> -->
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'css/ctrl_details.css' %}">
	<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<!--	<link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen" type="text/css" /> -->
<!--
	<script type="text/javascript" src="{% static "jquery-1.12.2.js.js" %}"></script>
	<script type="text/javascript" src="{% static "jquery-migrate-1.2.1.js" %}"></script> -->
<!--   	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
 	<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<!-- <script src="js_settings.js"></script>	 -->

</head>
<body>


	{% for ctrl in ctrl %}
	<h2 class="ctrl_name" align="center">{{ ctrl.description }}
	<span id="addr" class="net_addr" align="right"> адрес:{{ ctrl.bus_id }}</span> </h2>


		{% if ctrl.type != 2 %}
			{% include "celse/tsens485log.html" %}
		{% endif %}
<!--		{% if ctrl.type == 1 %}
			{% include "celse/tsens485.html" %}
		{% endif %} -->
		{% if ctrl.type == 2 %}
			{% include "celse/inverter.html" %}
		{% endif %}

   	{% if ctrl.online == 0%}
			<h1 style="background-color:#FF0000;" align="center">Контроллер не в сети</h1>
		{%endif%}
		<input  id="req_bus_id" type="hidden" value="{{ ctrl.bus_id }}">
	{% endfor %}
	<br align="center"><button onclick="return location.href = '/'">Главный экран</button>


</body></html>
