{#templates/celse/main.html#}
{% load staticfiles %}
{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>


<meta charset="utf-8" />
<!-- <meta HTTP-EQUIV="Refresh" Content="10; URL=http://localhost/"> -->

<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->
<!-- <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen" type="text/css" /> -->

<!--	<script type="text/javascript" src="/javascript/jquery-1.12.2.js.js"></script>
	<script type="text/javascript" src="/javascript/jquery-migrate-1.2.1.js"></script>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
-->
<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- <script src="js_settings.js"></script> -->

</head>
<body>
	<button id="do_main_bt" title="ON" align="right"> <h3>На страницу<br>Вентиляция</h3></button>
	<script type="text/javascript">
		document.getElementById('do_main_bt').onclick = function () {
			document.location.href = "/do_main/";
		}
	</script>
	<button id="srv_main_bt" title="ON" align="right"> <h3>На страницу<br>Сервисные параметры системы</h3></button>
	<script type="text/javascript">
		document.getElementById('srv_main_bt').onclick = function () {
			document.location.href = "/srv_main/";
		}
	</script>

	{% for t_ctrl in t_ctrl%}
		{%if t_ctrl.type_id == 3%}
		<TABLE width="100%" cellpadding="5" cellspacing="0" border="0">
		<CAPTION class="ctrl_type" align="top">{{ t_ctrl.description }}</CAPTION>
			{% for ctrl in ctrl %}
				{%if forloop.counter == 0 or forloop.counter == 5 or forloop.counter == 9%}
					<TR>
				{%endif%}

						{% if ctrl.type == t_ctrl.type_id %}
							<TD align="center">
								{% if ctrl.type == 0 %}
								{% include "celse/tsens485main.html" %}
								{% endif %}
								{% if ctrl.type == 1 %}
								{% include "celse/tsens485main.html" %}
								{% endif %}
								{% if ctrl.type == 2 %}
								{% include "celse/inverter_main.html" %}
								{% endif %}
								{% if ctrl.type == 3 %}
								{% include "celse/fancoli_main.html" %}
								{% endif %}
							</TD>
						{% endif %}

				{%if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12%}
					</TR>
				{%endif%}
			{% endfor %}

		</TABLE>
		{%endif%}
	{% endfor %}
	<script type="text/javascript">
		function fresh() {
   		location.reload();
		}
		setInterval("fresh()",10000);
	</script>
</body></html>
