{#templates/celse/srv_main.html#}
{% load staticfiles %}
{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>


<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
  <h1>Сервисные параметры системы:</h1>
  <span align="left">
	    	<button
	    		{% if fan_hc == 0%}
	    				style="background-color:#0000FF"
	    		{%endif%}
	    		id="cooling_bt" title="Охлаждение"> <h1>Охлаждение</h1></button>
	    	<button
				  {% if fan_hc == 1%}
	    				style="background-color: #FF8000"
	    		{%endif%}
	    		id="heating_bt" title="Обогрев"><h1>Обогрев</h1></button>
	</span>
	<br>
	<br>


  <button id="return_bt" title="ON" align="right"> <h3>Назад</h3></button>

  <script type="text/javascript">
    document.getElementById('cooling_bt').onclick = function () {
      var xhr = new XMLHttpRequest();
      var params = 'fan_hc=' + encodeURIComponent(0);
      xhr.open("GET", "?" + params, false);
      xhr.send("");
      location.reload();
    }
    document.getElementById('heating_bt').onclick = function () {
      var xhr = new XMLHttpRequest();
      var params = 'fan_hc=' + encodeURIComponent(1);
      xhr.open("GET", "?" + params, false);
      xhr.send("");
      location.reload();
    }

    document.getElementById('return_bt').onclick = function () {
    document.location.href = "/";
    }
  </script>
	<script type="text/javascript">
		function fresh() {
   		location.reload();
		}
		setInterval("fresh()",30000);
	</script>
</body></html>
