
{% if ctrl.online == 1%}
<div align="justify">
	<span align="left">
	{% for par in param %}
	    {% ifequal par.addr 6%}
	    	<button
	    		{% if par.value == 0%}
	    				style="background-color:#009900"
	    		{%endif%}
	    		id="on_bt" title="ON"> <h1>ON</h1></button>
	    	<button
				{% if par.value == 3%}
	    				style="background-color: #FF0000"
	    		{%endif%}
	    		id="off_bt" title="OFF"><h1>OFF</h1></button>
	    {% endifequal %}
	{% endfor %}
	</span>
	<span align="right">
   {% for par in param %}
	    {% ifequal par.addr 1%}
	      <input style="background-color:#FFFFFF; hight=20pt;" id="setpoint_val"  type="text" value="{{par.value}}">
	    	<button id="inc_val_bt" title="+"><h1>+</h1></button>
	    	<button id="dec_val_bt" title="-"><h1>-</h1></button>
	    	<button id="set_val_bt" title="SET"><h1>SET</h1></button>
	    {% endifequal %}
	{% endfor %}
	</span>
</div>
	<br>

	<ul class="params">
		{% for par in param %}

				{% if par.addr != 1 and par.addr != 6 and par.addr != 3 and par.addr != 7%}
					<li> {{ par.description }}:<b>{{ par.value }}</b></li>
				{%endif%}

				{% ifequal par.addr 3 %}
					<li> {{ par.description }}:
					{% ifequal par.value 0 %}
						<b>Связь</b>
				   {%endifequal%}
  					{% ifequal par.value 1 %}
						<b style="background-color:#FF0000">Нет связи</b>
				   {%endifequal%}
					</li>
				{%endifequal%}

				{% ifequal par.addr 7 %}
					<li> {{ par.description }}:
					{% ifequal par.value 0 %}
						<b>Ожидание</b>
				   {%endifequal%}
  					{% ifequal par.value 1 %}
						<b>Открыт</b> (через оборудование)
				   {%endifequal%}
  					{% ifequal par.value 2 %}
						<b>Закрыт</b> (в обход оборудования)
				   {%endifequal%}
					</li>
				{%endifequal%}
  		{% endfor %}
	</ul>

{%endif%}

{% if values%}
{% load googlecharts %}

<div id="count_graph"></div>

{% googlecharts %}
	{% data values "count" %}
		{% col "string" "Date" %}"{{ val|date:"d.m H-i-s" }}"{% endcol %}
		{% col "number" "#Температура" %}{{ val }}{% endcol %}
	{% enddata %}

	{% options %}
		kind: "LineChart",
		options: {
			backgroundColor: "#f9f9f9",
			colors: ["#09f"],
			gridlineColor: "#ddd",
			legend: "none",
			vAxis: {minValue: 0},
			chartArea: {left: 40, top: 20, width: 1024, height: 180},
			width: 1024,
			height: 360
		}
	{% endoptions %}

	{% graph "count_graph" "count" %} {# используем опции по умолчанию #}
{% endgooglecharts %}
{%endif%}


<script type="text/javascript">
	document.getElementById('inc_val_bt').onclick = function () {
		var sp_value = parseFloat(document.getElementById('setpoint_val').value);
		document.getElementById('setpoint_val').value = String(++sp_value);
	}
	document.getElementById('dec_val_bt').onclick = function () {
		var sp_value = parseFloat(document.getElementById('setpoint_val').value);
		document.getElementById('setpoint_val').value = String(--sp_value);
	}
	document.getElementById('set_val_bt').onclick = function () {
		var sp_value = parseFloat(document.getElementById('setpoint_val').value);
		var xhr = new XMLHttpRequest();
		var params = 'req_bus_id='+encodeURIComponent(document.getElementById("req_bus_id").value)
						+'&setpoint=' + encodeURIComponent(sp_value);
		xhr.open("GET", "?" + params, false);
		xhr.send("");
	}
	document.getElementById('on_bt').onclick = function () {
		var xhr = new XMLHttpRequest();
		var params = 'req_bus_id='+encodeURIComponent(document.getElementById("req_bus_id").value)
						+'&mode=' + encodeURIComponent(0);
		xhr.open("GET", "?" + params, false);
		xhr.send("");
		location.reload();
	}
	document.getElementById('off_bt').onclick = function () {
		var xhr = new XMLHttpRequest();
		var params = 'req_bus_id='+encodeURIComponent(document.getElementById("req_bus_id").value)
						+'&mode=' + encodeURIComponent(3);
		xhr.open("GET", "?" + params, false);
		xhr.send("");
		location.reload();
	}
</script>
