body {
			background-color: black;
			color: white;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}
.ctrl_type{
			font-size: 18pt;
			font-family: Arial;
		}
.net_addr{
			font-size: 6pt;
			font-family: Arial;
		}
.ctrl_name {
			font-size: 20pt;
		}
.ctrl_value{
			font-size: 14pt;
			color: black;
		}
