sudo pip install Django==1.9.5
sudo pip install django-google-charts==0.1.1
sudo pip install django-qsstats-magic==0.7.2
sudo pip install MySQL-python==1.2.5
sudo pip install python-dateutil==2.5.3
sudo pip install six==1.10.0
sudo pip install South==1.0.2
